*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #B0D9B1;
    height:100%;
    width:100%;
    position: fixed;
}

.main-screen{
    border-radius: 5px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #e8ffea;
    height: 85%;
    width:80%;
    position: relative;
}

.score-screen{
    position: relative;
    height:75px;
    background-color: #618264;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display:flex;
    padding:42px 290px;
    justify-content:space-between ;
}

.score-box{
    display:flex;

}

.heading{
    font-size: 16px;
    font-weight: 600;
    color: white;
    align-self: center;
}

.hit,
.timer,
.score{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 30px;
    width: 35px;
    color: #618264;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 19px ;
    font-weight: 600;
    box-shadow: 2px 3px rgb(0,0,0,0.3);
}

.game-screen{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
    top:7%;
    color: #39513b;
    font-weight: 900;
    cursor: pointer;
    display: block;
    position: relative;
}

.username-text{
    position: relative;
    top:12%;
    text-align: center;
    font-size: 16px;
    color:  #3b3731;
}

.username-input{
    position: relative;
    top:19%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    outline:#3b3731;
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color:white;
    font-size: 18px;
    font-weight: 400;
    background-color: #675D50;
    margin: 5px;
    cursor: pointer;
}

.bubble:hover{
    background-color: #524a41;
}

.bubble:active{
    background-color: #524a41;
    user-select: none;
}

.player-score{
    position: relative;
    color:#618264;
    font-size:32px;
    font-weight: 900;
    margin-top: 20%;
    padding: 20px;
    text-align: center;
}

.start-game,
.play-again{
    position: relative;
    background-color: #618264;
    color:white;
    font-size:32px;
    font-weight: 600;
    margin-top: 10%;
    padding: 20px;
    box-shadow: 4px 6px rgb(0,0,0,0.3);
    cursor: pointer;
}

.start-game:active,
.play-again:active{
    background-color: #4b654e;
}

.play-again{
    position: relative;
    padding: 17px;
    margin-top: 40px;
    text-align: center;
}

.end-screen{
    align-items: center;
}


@media (max-width: 767px) {
    .main-screen {
        width: 90%;
        height: 75%;
    }

    .score-screen {
        padding: 20px 25px;
    }

    .score-box {
        margin-right: 10px;
    }

    .heading {
        font-size: 18px;
    }

    .hit,
    .timer,
    .score {
        height: 25px;
        width: 30px;
        font-size: 18px;
    }

    .bubble {
        height: 38px;
        width: 38px;
        font-size: 16px;
    }

    .start-game,
    .play-again {
        font-size: 24px;
        padding: 15px;
        margin-top: 38%;
    }

    .game-screen{
        padding:15px 3px;
    }

    .username-input{
        padding: 5px;
    }

    .player-score{
        font-size: 20px;
    }
}

